.event-top {
  height: auto;
}
.evt-title{
    margin-top: 10%;
    margin-left: 5%;

    ul{
        display: flex;
        gap: 1.5%;
    }
}

.evt-title > ul > li:nth-child(2) {
  font-size: 3.8rem;
  font-weight: bold;
}


.mySwiper1-slide{
  width: auto;
  height: 500px;
}

.eventcook-box > img{
  width: auto;
  height: auto;
  border-radius: 20px;
  
}

.eventcook-box > span{
  display: inline-block;
  padding-top: 5%;
  font-size: 1.1rem;
  font-weight: bold;
}