@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);



.topbox{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 5.625rem; */
  height: 9vh;
  border-bottom: 1px solid #15a775;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: top 0.4s;
  z-index: 1000;
}

/* .topbox:hover{
  background-color: #fff;
} */

.logo img{
  width: 74%;
  padding: 17% 90%;
}


#gnb{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9vh;
  margin: 0 auto;
  transition: top 0.4s;
}


.top-gnb{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  width: 50%;
  font-weight: bold;
}

.top-gnb >li{
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 20%;
}

.top-gnb > li > a{
  font-size: 1rem;
  width: 100%;
}

#gnb .top-gnb> li:hover .bt-gnb {
  display: block;
}
#gnb .top-gnb> li:hover .bt-gnb>li{
  text-align: center;
}

.bt-gnb{
  display: none;
  position: absolute;
  border: 1px solid #15a775;
  border-radius: 0 0 8% 8%;
  background-color: #fff;
  top: 99%;
  left: -7%;
  width: 100%;
  height: 100%;
  z-index: 1001;
  line-height: 2.4;
}

.bt-gnb > li >a:hover{
  color: black;
}

.bt-gnb > li > a{
  color: rgb(156, 155, 155);
}

.top-gnb > li:first-child::after{
  content: "";
  display: inline-block;
  background:url(../../public/image/ic_star.png) no-repeat center;
  width: 14%;
  height: 100%;
}

.top-gnb > li:nth-child(1) ~ li:nth-child(-n+3)::after{
  content: "";
  background:url(../../public/image/ic_star.png) no-repeat center;
  display: inline-block;
  width: 14%;
  height: 100%;
}

/* 로그인 영역 */
.log{
  display: flex;
  position: relative;
  width: 15%;
  top: 37%;
}
.log > ul{
  display: flex
}
.log >ul > li >a> img{
  position: relative;
  width: 60%;
  bottom: 14%;
  left: 12%;
}




/* 이벤트 구역 */

.event-ban{

}




/* 하단 영역 */
#footer-area{
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

/* 인포메이션 구역 */
.footer-info{
  width: 800px;
  line-height: 3;
}
.info-area{
  padding: 6.5% 10%;
}
.info-top{
  display: flex;
}
.info-top > li{
  font-weight: bold;
  padding-right: 1%;
}
.info-top > li:first-child::after{
  content: " • ";
  color: rgb(156, 155, 155);;
}
.info-top > li:nth-child(1)~li:nth-child(-n+3)::after{
  content: " • ";
  color: rgb(156, 155, 155);;
  
}
.info-mid{
  display: flex;
  color: rgb(112, 112, 112);

}
.info-mid > li{
  padding-right: 1%;
}
.info-mid >li:first-child::after{
  content: " | " ;
}
.info-area > span{
  color: rgb(156, 155, 155);
  font-size: .8rem;
}

/* sns구역 */
.footer-social{
  width: 600px;

}
.footer-sns{
  padding: 10%;
}
.footer-sns > ul{
  display: flex;
  justify-content: space-evenly;
}

/* 콤보박스 */
#brand{
 font-weight: bold;
 font-size: 1rem;

}

/* 버튼 */
.btn-top{
  position: absolute;
  width: 3vw;
  height: 6vh;
  right: 6%;
  border-radius: 25%;
}
.btn-top a > img{
 position: relative;
 width: 100%;
 right: 7%;
}





