@charset "utf-8";

@import url(./reset.css);



.topbox{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 5.625rem; */
  height: 9vh;
  border-bottom: 1px solid #15a775;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: top 0.4s;
  z-index: 1000;

}
.logo img{
  width: 74%;
  padding: 17% 90%;
}


#gnb{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.top-gnb{
  display: flex;
  justify-content: center;
  /* font-weight: bold; */
  gap: 10px;
}
.top-gnb > li > a{
  font-size: 1rem;
}
.log{
  display: flex;
  position: relative;
  width: 15%;
  top: 37%;
}
.log > ul{
  display: flex
}
.log >ul > li >a> img{
  position: relative;
  width: 60%;
  bottom: 8%;
}
