@charset "utf-8";

@import url(./core.css);
@import url(./reset.css);


#top, #main, #footer{
  max-width: 1200;
}

#top{
 height: 1200px;
}
#main{
  max-height: 100vh; 
}
#footer{
  /* height: 400px; */
}

/********************************* 상단구역 *********************************/

.screen{
  position: relative;
  width: 100%;
  padding-top: 5%;
}

#ifr{
  position: relative;
  left: calc(50% - 800px / 2);
  width: 800px;
  height: 500px;
  
}


/********************************* 메인구역 *********************************/
.main-top >img{
  width: 40%;
  margin-left: 30%;
  padding-top: 5%;
}

.main-synopsis{
  height: 15%;
  padding: 3%;
}
.main-synopsis h2{
  text-align: center;
  font-size: 2.5rem;
}
.main-synopsis span{
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  display: flex;
  padding: 2%;
  width: 90%;
  border-bottom: 1px solid rgb(204, 204, 204);
}



.poster{
  display: flex;
  gap: 20px;
  padding: 5% 0%;
}









/********************************* 하단구역 *********************************/