@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
.top-area-logo img{
  width: 100%;
  margin-top: 10px;
}

.gnb a{
  display: block;
}
.gnb ul{
  display: flex;
  white-space: nowrap;
}
.gnb ul > li{
  position: relative;
  padding:  20px 10px;
  font-weight: bold;
}
.smenu ol{
  display: flex;
}


/************* 2. 메인영역 *************/
.main-area{
  background: url(../images/main_bn.png) no-repeat center /100% 100%;

}
/************* 3. 하단영역 ************/