@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
#top-area{
transition: all .6s ease-in-out;
}

#top-area:hover{
  background-color:#ff98ae;
}
.logo img{

}
.gnb{
  display: flex;
  height: 90px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: all .6s ease-in-out;
}

#top-area:hover .gnb{
  height: 360px;
  
}
#top-area:hover .gnb dd{
  background-color: #fff;
}
/* 메뉴 박스 */
.gnb dl{
  padding: 10px;
}

/* 상위메뉴 dt */
.gnb dt{
  line-height: 69px;
}
/* 상위메뉴 dd */
.gnb dd{
  line-height: 45px;
}

/************* 2. 메인영역 *************/
/* .main-area{
  background: url(../images/main_bn.png) no-repeat center /100% 100%;

} */
/************* 3. 하단영역 ************/