@charset "utf-8";

/* 미디어 쿼리 CSS */

/********************  최대 1300px ********************/

@media screen and (max-width: 1300px) {
  body{
    width: auto;
  }
  #proslider {
    padding-left: 21px;
     gap: 0 21px;
  }  
  .new-first-slider.on {
    left: 1%;
  }
  .new-first-slider.on li {
    margin-right: 16.2%;
  }
  
  .new-second-slider.on {
    right: 1%;
  }
  .new-second-slider.on li {
    margin-left: -12.6%;
  }

  .beslide-box {
    width: 98%;
    margin-left: 1%;
  }
  .beslider {
    gap: 0 15px;
  }
  .beslider li img {
    width: 100%;
  }

  .ban-first-box{
    left: 3%;
  }
  .ban-first-box img{
    width: 90%;
  }
  .ban-second-box img{
    width: 90%;
  }

  .footer-info-logo img {
    padding: 20px 30px;
  }
  .footer-top a {
    font-size: 0.8rem;
    padding: 0 9px; 
  }
  .footer-text{
    padding: 10px 110px;
    font-size: 1rem;
  }
  .btn-top {
    bottom: 10vw;
    right: 2vw;
  }
}
/********************  최대 1300px 미디어쿼리 종료********************/

/********************  최대 768px ********************/

@media screen and (max-width: 768x) {
}
/********************  최대 768px 미디어쿼리 종료 ********************/

/********************  최대 480px ********************/

@media screen and (max-width: 480x) {
}
/********************  최대 480px 미디어쿼리 종료 ********************/

/********************  최대 480px ********************/

@media screen and (max-width: 480x) {
}
/********************  최대 480px 미디어쿼리 종료 ********************/
