@charset "utf-8";


body{
    overflow-x: hidden;
}

#header-area{
    max-width: 1920px;
    /* height: 1200px; */
}

#main-area{
    height: 800px;
}

#cook-area{
    height: 800px;
}
#event-area{
    height: 250px;
}
#footer-area{
    height: 250px;
}